.project-wrap {
  width: 95vw;
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
}

.flip-card-container {
  width: 350px;
  height: 450px;
  perspective: 1000px;
  margin: 25px;
}

#flip-card:hover {
  cursor: pointer;
}

#flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/*Reveal card back on click*/
#pacman {
  display: none;
}

#pacman:checked + label #flip-card {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}

#product {
  display: none;
}

#product:checked + label #flip-card {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}

#unplugged {
  display: none;
}

#unplugged:checked + label #flip-card {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}

#technical {
  display: none;
}

#technical:checked + label #flip-card {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}

#jubilee {
  display: none;
}

#jubilee:checked + label #flip-card {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}

#rogue {
  display: none;
}

#rogue:checked + label #flip-card {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 0.5rem; */
}

/*Styling the front of all cards*/

.flip-card-front {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

/*putting images into individual cards*/

#pacman-card {
  background: url('../img/pacman.png');
}

#product-card {
  background: url('../img/skin.png');
}

#unplugged-card {
  background: url('../img/unplugged.png');
}

#technical-card {
  background: url('../img/technical.png');
}

#jubilee-card {
  background: url('../img/jubilee.png');
}
#panchos-card {
  background: url('../img/panchos.png');
}


.flip-card-front {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

.card-front-title {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: #517fa4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index:;
}

.card-title {
  color: white;
  margin-top: 360px;
}

/*.card-front-image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}*/


/*Styling the back of card*/

.flip-card-back {
  background-color: #3d6280;
  color: #fff;
  transform: rotateY(180deg);
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flip-card-back p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 30px;
  max-width: 450px;
}

#flip-card a {
  color: white;
}

#project-button  {
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 8px;
  background: white;
}

#project-button  {
  color: black;
  text-transform: uppercase;
}

#project-button:hover {
  color: white;
  background-color: black;
  transition: var(--transition-speed);
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
